/* Import modern fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=DM+Serif+Display:ital@0;1&display=swap');

/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/montserrat-v26-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/montserrat-v26-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/fira-sans-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/fira-sans-v17-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* abril-fatface-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/abril-fatface-v23-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* just-another-hand-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Just Another Hand";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/just-another-hand-v19-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/open-sans-v40-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/roboto-v30-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/roboto-v30-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  min-height: 100%;
  background: linear-gradient(135deg, #F8FAFC 0%, #F1F5F9 50%, #E0E7FF 100%);
  background-attachment: fixed;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: var(--text);
  position: relative;
  z-index: 30;
  line-height: 1.3;
}
ul,
li {
  color: var(--fontColor);
  li::marker {
    font-size: 0.8em;
  }
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 120px;
  letter-spacing: -2px;
  text-align: left;
  margin: 0px;
  @media only screen and (max-width: 1200px) {
    font-size: 90px;
  }
  @media only screen and (max-width: 800px) {
    font-size: 60px;
  }
  @media only screen and (max-width: 600px) {
    font-size: 48px;
  }
}

h2 {
  font-size: 40px;
  margin: 0px;
  font-weight: 500;
  @media only screen and (max-width: 800px) {
    font-size: 30px;
  }
  @media only screen and (max-width: 800px) {
    font-size: 26px;
  }
}
h3 {
  @media only screen and (max-width: 800px) {
    font-size: 20px;
  }

  @media only screen and (max-width: 600px) {
    font-size: 18px;
  }
}

p {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 18px;
  color: var(--text);
  @media only screen and (max-width: 800px) {
    font-size: 16px;
    line-height: 1.6;
  }
}

a {
  color: var(--text);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--secondary);
}

.styling-block {
  position: absolute;
  z-index: 0;
  p {
    margin-left: 100px;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Montserrat";
  }
}

ol {
  li {
    font-family: "Montserrat";
    font-size: 18px;
    color: var(--fontColor);
  }
}

.uppercase {
  text-transform: uppercase;
}

.project-overview {
  text-transform: uppercase;
}

.removeMargin {
  margin: 0;
}
